@import "../../../style/_variables.scss";

.input-group {
    display: flex;
    flex-direction: column;
    max-width: 375px;
    width: 100%;
    margin-top: 24px; 
    position: relative;

    label {
        color: $dark-gray;
        font-size: $base-font-size;
        margin-bottom: 8px;
    }

    input {
        border: 1px solid $gray;
        font-size: $base-font-size;
        padding: 10px 0 10px 16px;
        outline: none;
        height: 38px;
        box-sizing: border-box;
        color: $dark-gray;
        font-family: 'serif';
    }

    &.error {
        input {
            border-color: $red;
            outline: none;
        }

        span {
            color: $red;
            position: absolute;
            bottom: -16px;
            font-size: $small-font-size;
        }
    }

    &.success {
        input {
            border-color: $green;
            outline: none;
        }
    }
}