//colors 
$dark-gray: #696D8C;
$dark-light-gray: #b1b1b1;
$gray: #B6B9D0;
$light-gray: #EAEAF4;
$green: #00C853;
$red: #DD2C00;
$yellow: #FBC02D;
$blue: #0277BD;


//font size
$base-font-size: 14px;
$small-font-size: 12px;


